{% extends 'base.html' %}
{% load static %}
{% block title %} List of students {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Filters</h3>
                    </div>
                    <form method="GET">
                        <div class="card-body">
                            {{ filter_form.as_p }}
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                            <a href="{% url 'list-of-students' %}" class="btn btn-outline-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-10">
                {% if all_students %}
                    <table class="table table-primary">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Profile</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Gender</th>
                            <th>Start date</th>
                            <th>Active</th>
                            <th>Created at</th>
                            <th>Name of trainer</th>
                            <th>Course name</th>
                            {% if perms.student.change_student or perms.student.view_student or perms.student.delete_student %}
                            <th>Actions</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for student in all_students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if student.profile %}
                                        <img src="{{ student.profile.url }}" alt="Picture profile" width="60"
                                             height="60">
                                    {% elif student.gender == 'male' %}
                                        <img src="{% static 'img.png' %}" alt="Picture profile" width="60" height="60">
                                    {% elif student.gender == 'female' %}
                                        <img src="{% static 'img_1.png' %}" alt="Picture profile" width="60"
                                             height="60">
                                    {% else %}
                                        No image
                                    {% endif %}
                                </td>
                                <td>{{ student.first_name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.gender|title }}</td>
                                <td>{{ student.start_date|date:"d-m-Y" }}</td>
                                <td>
                                    {% if student.active %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>{{ student.created_at|date:"d-m-Y H:i:s" }}</td>
                                <td>
                                    {% if student.trainer %}
                                        {{ student.trainer }}
                                    {% else %}
                                        No trainer
                                    {% endif %}
                                </td>
                                <td>
                                    {% if student.trainer.course %}
                                        {{ student.trainer.course }}
                                    {% else %}
                                        No course
                                    {% endif %}
                                </td>
                                {% if perms.student.change_student or perms.student.delete_student or perms.student.view_student %}
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            More actions
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if perms.student.change_student %}
                                                <li><a class="dropdown-item" href="{% url 'update-student' student.id %}">Update</a></li>
                                            {% endif %}
                                            {% if perms.student.delete_student %}
                                                <li><a class="dropdown-item" href="{% url 'delete-student' student.id %}">Delete</a></li>
                                            {% endif %}
                                            {% if perms.student.view_student %}
                                                <li><a class="dropdown-item" href="{% url 'details-student' student.id %}">Details</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class="text-center">No students available</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
