{% extends 'base.html' %}

{% block title %} Email sent {% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br>
                <div class="card">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="text-center">Email sent</h4>
                        </div>
                        <div class="card-body">
                            <p>We sent an emailed to the address you provide to reset your password.</p>
                            <p>Please check your inbox.</p>
                            <p>If you don't see the email check your spam folder or try again later.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
